# Import library

In [146]:
import osmnx as ox
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

# Import data

## Green space from landuse key

In [147]:
green_landuse_area = gpd.read_file('../data/raw/osm/green space/green_landuse_area.geojson')

In [148]:
green_landuse_area = green_landuse_area.to_crs(epsg=32633)

In [149]:
green_landuse_area.columns

Index(['element', 'id', 'landuse', 'name', 'area:highway', 'old_name',
       'source', 'addr:city', 'addr:country', 'addr:housenumber',
       'addr:postcode', 'addr:street', 'email', 'website', 'barrier',
       'operator', 'phone', 'sport', 'created_by', 'note', 'opening_hours',
       'wikidata', 'check_date', 'access', 'description', 'leisure',
       'contact:email', 'contact:phone', 'contact:website', 'start_date',
       'disused:leisure', 'leaf_type', 'toilets:wheelchair', 'tourism',
       'wheelchair', 'height', 'surface', 'leaf_cycle', 'comment:history',
       'alt_name', 'kerb', 'produce', 'trees', 'name:signed', 'description:de',
       'embankment', 'building:levels', 'landcover', 'image', 'noname',
       'amenity', 'lit', 'parking', 'smoothness', 'meadow', 'wikipedia',
       'genus:de', 'natural', 'species', 'boundary', 'protect_class',
       'protection_title', 'ref', 'short_protection_title', 'crop', 'fixme',
       'level', 'type', 'name:hsb', 'layer', 'geometry'],
      dtype='object')

In [150]:
green_landuse_area = green_landuse_area[['element', 'id', 'landuse', 
                                         'name', 'barrier', 'note', 
                                         'opening_hours', 'access', 'description', 
                                         'leisure', 'tourism', 'surface', 
                                         'landcover', 'amenity', 'natural', 
                                         'type', 'geometry']]

In [151]:
green_landuse_area['area'] = green_landuse_area['geometry'].area

In [152]:
green_landuse_area['access'].unique()

array([None, 'yes', 'private'], dtype=object)

In [153]:
print('total rows:', green_landuse_area.shape[0])  # number of rows
for i in green_landuse_area['access'].unique():
    if i == None:
        print('access is None:', green_landuse_area[green_landuse_area['access'].isnull()].shape[0])
    else:
        # print number of rows that has access e.g. private,yes,none or others
        print('access is', i , ':', green_landuse_area[green_landuse_area['access']==i].shape[0])

total rows: 2352
access is None: 2340
access is yes : 1
access is private : 11

In [154]:
green_landuse_area['type'].unique()

array(['multipolygon', None], dtype=object)

In [155]:
green_landuse_area['geometry'].type.unique()

array(['MultiPolygon', 'Polygon'], dtype=object)

## Green space from leisure key

In [156]:
green_leisure_area = gpd.read_file('../data/raw/osm/green space/green_leisure_area.geojson')

In [157]:
green_leisure_area = green_leisure_area.to_crs(epsg=32633)

In [158]:
green_leisure_area.columns

Index(['element', 'id', 'access', 'leisure', 'name', 'opening_hours',
       'operator', 'wheelchair', 'sport', 'description', 'layer', 'check_date',
       'playground', 'source', 'lit', 'max_age', 'min_age', 'addr:city',
       'addr:housenumber', 'addr:postcode', 'addr:street', 'note', 'surface',
       'indoor', 'check_date:opening_hours', 'cn_tud:token', 'fee', 'website',
       'garden:type', 'operator:type', 'reservation', 'email', 'old_name',
       'old_name:1897', 'alt_name', 'loc_name', 'wikidata', 'wikipedia',
       'heritage', 'name:etymology:wikidata', 'created_by', 'addr:country',
       'barrier', 'dog', 'playground:theme', 'toilets:wheelchair',
       'contact:email', 'contact:fax', 'contact:phone', 'contact:website',
       'attraction', 'name:cs', 'species:wikidata', 'landuse', 'image', 'ref',
       'phone', 'natural', 'area', 'bicycle', 'service', 'vehicle', 'hoops',
       'height', 'place', 'operator:wikidata', 'start_date', 'species:de',
       'description:de', 'charge', 'athletics', 'landcover', 'capacity',
       'fence_type', 'strapline', 'network', 'fixme', 'contact:mobile',
       'level', 'wall', 'garden:style', 'name:de', 'material', 'pitch:net',
       'pitch:net:material', 'pitch:net:overhang', 'operator:short', 'type',
       'contact:facebook', 'name:fr', 'geometry'],
      dtype='object')

In [159]:
green_leisure_area['charge'].unique()

array([None, '8-14€ pro Stunde und Feld'], dtype=object)

In [160]:
green_leisure_area = green_leisure_area[['element', 'id', 'access', 
                                         'leisure', 'name', 'opening_hours', 'indoor',
                                         'operator', 'description', 'playground',
                                         'note', 'surface', 'fee', 
                                         'barrier', 'landuse', 'natural',
                                         'charge', 'landcover', 'fence_type', 
                                         'wall', 'type', 'geometry']]

In [161]:
green_leisure_area['area'] = green_leisure_area['geometry'].area

In [162]:
green_leisure_area['access'].unique()

array(['yes', 'private', None, 'customers', 'permissive', 'permit'],
      dtype=object)

In [163]:
print('total rows:', green_leisure_area.shape[0])  # number of rows
for i in green_leisure_area['access'].unique():
    if i == None:
        print('access is None:', green_leisure_area[green_leisure_area['access'].isnull()].shape[0])
    else:
        # print number of rows that has access e.g. private,yes,none or others
        print('access is', i , ':', green_leisure_area[green_leisure_area['access']==i].shape[0])

total rows: 1136
access is yes : 253
access is private : 138
access is None: 696
access is customers : 27
access is permissive : 19
access is permit : 3

## Green space from nature key

In [164]:
green_natural_area = gpd.read_file('../data/raw/osm/green space/green_natural_area.geojson')

In [165]:
green_natural_area = green_natural_area.to_crs(epsg=32633)

In [166]:
green_natural_area.columns

Index(['element', 'id', 'natural', 'attraction', 'name', 'name:cs',
       'species:de', 'species:wikidata', 'wheelchair', 'leaf_type', 'fixme',
       'note', 'leisure', 'leaf_cycle', 'description', 'embankment', 'barrier',
       'landuse', 'source', 'height', 'old_name:cs', 'level', 'man_made',
       'description:de', 'image', 'landcover', 'comment', 'access', 'fee',
       'species:wikipedia', 'type', 'geometry'],
      dtype='object')

In [167]:
green_natural_area['comment'].unique()

array([None,
       'Mitte November 2018 startete eine heftige Baggeraktivität hier'],
      dtype=object)

In [168]:
green_natural_area = green_natural_area[['element', 'id', 'natural', 
                                         'name', 'note', 'leisure',
                                         'description', 'barrier', 'landuse',
                                         'landcover', 'access', 'fee', 'type', 'geometry']]

In [169]:
green_natural_area['area'] = green_natural_area['geometry'].area

In [170]:
green_natural_area['access'].unique()

array([None, 'yes'], dtype=object)

In [171]:
print('total rows:', green_natural_area.shape[0])  # number of rows
for i in green_natural_area['access'].unique():
    if i == None:
        print('access is None:', green_natural_area[green_natural_area['access'].isnull()].shape[0])
    else:
        # print number of rows that has access e.g. private,yes,none or others
        print('access is', i , ':', green_natural_area[green_natural_area['access']==i].shape[0])

total rows: 529
access is None: 526
access is yes : 3

## Green space from camp site

In [172]:
green_campsite_area = gpd.read_file('../data/raw/osm/green space/green_campsite_area.geojson')

In [173]:
green_campsite_area = green_campsite_area.to_crs(epsg=32633)

In [174]:
green_campsite_area.head()

,element,id,tourism,shelter,seats,covered,access,addr:city,addr:housenumber,addr:postcode,addr:street,geometry
0,node,3128780402,picnic_site,None,None,None,None,None,None,None,None,POINT (412264.551 5653901.83)
1,node,3163118403,picnic_site,no,None,None,None,None,None,None,None,POINT (410834.202 5654098.847)
2,node,3806645587,picnic_site,no,None,None,None,None,None,None,None,POINT (410891.184 5653950.093)
3,node,4352882229,picnic_site,None,None,None,None,None,None,None,None,POINT (409894.214 5653944.981)
4,node,4888415416,picnic_site,None,20,None,None,None,None,None,None,POINT (410702.148 5653820.301)

In [175]:
green_campsite_area['area'] = green_campsite_area['geometry'].area

In [176]:
print('total rows:', green_campsite_area.shape[0])  # number of rows
for i in green_campsite_area['access'].unique():
    if i == None:
        print('access is None:', green_campsite_area[green_campsite_area['access'].isnull()].shape[0])
    else:
        # print number of rows that has access e.g. private,yes,none or others
        print('access is', i , ':', green_campsite_area[green_campsite_area['access']==i].shape[0])

total rows: 11
access is None: 9
access is private : 2

## Spatial join green space polygons (within)
If small polygon is in larger polygon, only keep the larger polygon

In [179]:
gdf_list = [green_landuse_area, green_leisure_area, green_natural_area, green_campsite_area]
count = 0
for i in range(len(gdf_list)):
    for j in range(len(gdf_list)):
        if i != j:
            temp_gdf = gdf_list[i].sjoin(gdf_list[j], how='left', predicate='within')
            print('i:', i, 'j:', j, 'row:', temp_gdf.shape[0])
            if count == 0:
                joined_green_space = temp_gdf
            else:
                joined_green_space = pd.concat([joined_green_space, temp_gdf], ignore_index=True)
            count += 1

i: 0 j: 1 row: 2352
i: 0 j: 2 row: 2352
i: 0 j: 3 row: 2352
i: 1 j: 0 row: 1136
i: 1 j: 2 row: 1136
i: 1 j: 3 row: 1136
i: 2 j: 0 row: 529
i: 2 j: 1 row: 529
i: 2 j: 3 row: 529
i: 3 j: 0 row: 11
i: 3 j: 1 row: 11
i: 3 j: 2 row: 11

In [198]:
# Remove rows where `id_right` exists in `id_left`
clean_joined_green_space = joined_green_space[~joined_green_space['id_right'].isin(joined_green_space['id_left'])]

In [199]:
clean_joined_green_space

,element_left,id_left,landuse_left,name_left,barrier_left,note_left,opening_hours_left,access_left,description_left,leisure_left,...,tourism_right,shelter,seats,covered,addr:city,addr:housenumber,addr:postcode,addr:street,fee_left,fee_right
0,relation,6128,forest,Dresdner Heide,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,relation,1561653,grass,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,relation,1561655,grass,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,relation,2971984,grass,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,relation,3250751,grass,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12079,node,6591319651,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,no,None,None,None,None,NaN,NaN
12080,node,12213145709,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN
12081,way,998771902,NaN,NaN,NaN,NaN,NaN,private,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN
12082,way,1009950825,NaN,NaN,NaN,NaN,NaN,private,NaN,NaN,...,NaN,None,None,None,Dresden,3,01159,Saalhausener Straße,NaN,NaN
12083,way,1314627716,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN

In [222]:
# joined_green_space[joined_green_space['id_left'] == joined_green_space['id_right']][['id_left', 'id_right', 'area_left', 'area_right']]

In [223]:
# clean_joined_green_space[clean_joined_green_space['id_left'] == 43919862]

In [224]:
final_joined_green_space = clean_joined_green_space.sort_values(by='name_left', ascending=True).drop_duplicates(subset=['id_left', 'element_left', 'area_left'])

In [225]:
final_joined_green_space

,element_left,id_left,landuse_left,name_left,barrier_left,note_left,opening_hours_left,access_left,description_left,leisure_left,...,tourism_right,shelter,seats,covered,addr:city,addr:housenumber,addr:postcode,addr:street,fee_left,fee_right
8882,way,307673236,None,1,None,None,NaN,None,None,pitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN
9009,way,713111867,None,1,None,None,NaN,None,None,pitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
9007,way,713111865,None,2,None,None,NaN,None,None,pitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
9270,way,1219826678,None,2,None,None,NaN,None,None,pitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,NaN
9005,way,713111863,None,3,None,None,NaN,None,None,pitch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12059,way,998771902,NaN,NaN,NaN,NaN,NaN,private,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN
12060,way,1009950825,NaN,NaN,NaN,NaN,NaN,private,NaN,NaN,...,NaN,None,None,None,Dresden,3,01159,Saalhausener Straße,NaN,NaN
12061,way,1314627716,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN
12068,node,6591319651,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,no,None,None,None,None,NaN,NaN
12069,node,12213145709,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,...,NaN,None,None,None,None,None,None,None,NaN,NaN

In [227]:
final_joined_green_space.columns

Index(['element_left', 'id_left', 'landuse_left', 'name_left', 'barrier_left',
       'note_left', 'opening_hours_left', 'access_left', 'description_left',
       'leisure_left', 'tourism', 'surface_left', 'landcover_left', 'amenity',
       'natural_left', 'type_left', 'geometry', 'area_left', 'index_right',
       'element_right', 'id_right', 'access_right', 'leisure_right',
       'name_right', 'opening_hours_right', 'indoor', 'operator',
       'description_right', 'playground', 'note_right', 'surface_right', 'fee',
       'barrier_right', 'landuse_right', 'natural_right', 'charge',
       'landcover_right', 'fence_type', 'wall', 'type_right', 'area_right',
       'opening_hours', 'surface', 'landuse', 'name', 'barrier', 'note',
       'description', 'leisure', 'tourism_left', 'landcover', 'natural',
       'type', 'tourism_right', 'shelter', 'seats', 'covered', 'addr:city',
       'addr:housenumber', 'addr:postcode', 'addr:street', 'fee_left',
       'fee_right'],
      dtype='object')

In [240]:
clean_joined_green_space[~clean_joined_green_space['area_right'].isna()][['fee', 'charge', 'access_left', 'access_right', 'area_left', 'area_right']]

Empty DataFrame
Columns: [fee, charge, access_left, access_right, area_left, area_right]
Index: []

In [249]:
joined_green_space[joined_green_space['id_left'] == 157942][['id_left', 'id_right', 'area_left', 'area_right']]

      id_left  id_right     area_left    area_right
1      157942  365345.0  94969.782463  1.517605e+06
2353   157942       NaN  94969.782463           NaN
4705   157942       NaN  94969.782463           NaN

In [248]:
clean_joined_green_space[clean_joined_green_space['id_left'] == 157942][['id_left', 'id_right', 'area_left', 'area_right']]

      id_left  id_right     area_left  area_right
2353   157942       NaN  94969.782463         NaN
4705   157942       NaN  94969.782463         NaN

In [252]:
clean_joined_green_space[clean_joined_green_space['id_left'] == 365345]['area_left']

7326    1.517605e+06
8462    1.517605e+06
9598    1.517605e+06
Name: area_left, dtype: float64

In [237]:
temp = joined_green_space[~joined_green_space['area_right'].isna()][['id_left', 'id_right', 'area_left', 'area_right']]

In [238]:
temp['area_right'].unique()

array([1.51760534e+06, 4.51385572e+03, 6.33332445e+03, 7.74575604e+03,
       6.66928908e+03, 5.10576001e+04, 2.80771471e+03, 1.24377854e+03,
       2.94151108e+03, 1.49298877e+04, 8.47215962e+03, 1.04993594e+05,
       4.09598753e+04, 2.09745935e+03, 1.79670089e+03, 2.79345008e+03,
       7.44093676e+04, 3.63452737e+03, 2.50278384e+04, 5.38435476e+03,
       1.54150336e+04, 5.04885962e+03, 3.90068322e+03, 1.12144502e+04,
       2.15517879e+03, 2.83585603e+03, 2.62141221e+03, 6.42678666e+03,
       4.71043444e+03, 3.50036573e+03, 3.66513690e+03, 3.53441495e+04,
       8.04969632e+03, 1.41823028e+04, 1.64443582e+04, 2.01698529e+03,
       2.31061338e+03, 8.27314387e+03, 6.74488877e+03, 1.38475459e+04,
       4.41414085e+03, 5.48354143e+03, 2.80142266e+03, 3.60409000e+03,
       7.48573964e+02, 8.04115917e+03, 2.67120500e+04, 2.76202645e+03,
       4.54168210e+03, 3.20478956e+03, 3.23550919e+03, 2.94791253e+03,
       1.20105288e+02, 1.94353118e+03, 2.11186821e+02, 3.06434503e+04,
       1.40638669e+03, 1.70691663e+04, 1.39663579e+04, 9.85707688e+03,
       8.90035401e+02, 1.21635218e+04, 1.98128993e+03, 1.37323304e+03,
       4.17104308e+03, 5.58188300e+03, 1.81451350e+05, 2.91164261e+04,
       2.21664130e+03, 9.22131451e+03, 2.19777804e+03, 8.62878264e+02,
       3.60548285e+03, 6.48032546e+04, 8.62049377e+05, 4.12102791e+03,
       2.94321731e+03, 1.48549374e+03, 1.34266617e+03, 3.96510985e+02,
       4.53585308e+04, 3.35593576e+03, 1.82971568e+03, 5.30195949e+03,
       5.10428713e+04, 6.84041720e+03, 1.03446828e+04, 2.98566890e+02,
       3.84602565e+03, 1.80755795e+03, 8.77151186e+03, 4.31812761e+04,
       1.17909174e+04, 1.79548915e+03, 1.10742115e+03, 1.24051656e+03,
       1.68574101e+03, 4.10798345e+03, 3.55581116e+03, 4.68459725e+03,
       1.41297982e+04, 2.92187035e+03, 2.05155345e+03, 9.96168067e+03,
       5.05896453e+03, 2.16725982e+04, 4.36881287e+04, 2.20986148e+04,
       1.52645958e+04, 7.89697558e+04, 1.47442230e+04, 4.40743425e+03,
       1.72948669e+03, 2.57284645e+02, 4.66338486e+03])

In [241]:
temp

           id_left      id_right      area_left    area_right
1           157942  3.653450e+05   94969.782463  1.517605e+06
2           157943  3.653450e+05  100603.258852  1.517605e+06
3           157944  3.653450e+05  285535.962086  1.517605e+06
4           396375  3.653450e+05    1493.478101  1.517605e+06
5           421481  3.653450e+05  181451.349952  1.517605e+06
...            ...           ...            ...           ...
11450   1079105453  3.006233e+08      24.056225  5.384355e+03
11487   1185503443  9.858176e+06     546.909172  2.502784e+04
12057   6591319651  1.024236e+09       0.000000  1.729487e+03
12058  12213145709  4.199469e+07       0.000000  2.572846e+02
12065   4352882229  2.451502e+07       0.000000  4.663385e+03

[339 rows x 4 columns]